<div class="modal-overlay">
    <div class="modal-content">
  
      <div class="gender-selection">
        <button (click)="showTable('spo')" class="gender-btn">
          <i class="fa-solid fa-droplet"></i> SpO2
        </button>
        <button (click)="showTable('bpm')" class="gender-btn">
          <i class="fas fa-heartbeat"></i> BPM
        </button>
      </div>
  
      <div *ngIf="selectedGender == 'spo'">
        <img src="spo.jpeg" alt="Tabla Hombres"/>
      </div>
  
      <div *ngIf="selectedGender == 'bpm'">
        <img src="bpm.jpeg" alt="Tabla Mujeres" />
      </div>
  
      <button class="close-btn" (click)="closeModal()">Cerrar</button>
    </div>
  </div>
  